/* Estilos generales para el contenedor del grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px; /* Espacio alrededor */
}

/* Estilos para cada producto */
.product img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Ajusta la altura a un valor más pequeño */
    object-fit: cover;
}


/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}
